.content h2,.content h3,.content h4,.content h5,.content h6{
    font-size: revert;
    font-weight: revert;
}
.content ul{
    list-style: revert;
    padding: revert;
    margin: revert;
}
.content a{
    color: revert;
    text-decoration: revert;
}